as0/
as1/as01.aux
as1/as01.log
as1/as01.pdf
as1/as1.pdf
as1/matlab_code/
as1/texput.log
as2/as2.aux
as2/as2.log
as2/as2.pdf
"as3/\\"
as3/as3.pdf
as3/assignment-03.aux
as3/assignment-03.log
as3/assignment-03.pdf
as3/matlab/before_oh/
as3/matlab/prob1.diary
as3/matlab/prob2.png
as3/matlab/prob2a.png
as3/matlab/prob4.diary
as3/matlab/prob4c.m
as3/matlab/prob5.diary
as3/matlab/prob6.diary
as3/matlab/texput.log
as3/texput.log
ref/
as4/assignment-04.aux
as4/assignment-04.log
as4/assignment-04.pdf
as4/matlab
