as0/
as1/as01.aux
as1/as01.log
as1/as01.pdf
as1/as1.pdf
as1/matlab_code/
as1/texput.log
as2/as2.aux
as2/as2.log
as2/as2.pdf
"as3/\\"
as3/as3.pdf
as3/assignment-03.aux
as3/assignment-03.log
as3/assignment-03.pdf
as3/matlab/before_oh/
as3/matlab/prob1.diary
as3/matlab/prob2.png
as3/matlab/prob2a.png
as3/matlab/prob4.diary
as3/matlab/prob4c.m
as3/matlab/prob5.diary
as3/matlab/prob6.diary
as3/matlab/texput.log
as3/texput.log
ref/
as4/assignment-04.aux
as4/assignment-04.log
as4/assignment-04.pdf
as4/matlab/symm_lu_2.m
as4/Q2.m
as4/matlab/A1.diary
as4/matlab/A1_test.m
as4/matlab/A2.diary
as4/matlab/A2_test.m
as4/matlab/A3.diary
as4/matlab/A3_test.m
as4/matlab/A4.diary
as4/matlab/A4_test.m
as4/matlab/rand.diary
as4/matlab/rand_mat.m
as4/matlab/rand_symm.diary
as4/matlab/rand_symm_mat.m
as4/matlab/rand_symm_test.m
as4/matlab/rand_test.m
as4/matlab/simple.m
as4/matlab/sin_mat.m
as4/matlab/symm_lu2.m
as4/matlab/tan_mat.m
as4/matlab/test.m
as4/matlab/test2.m
